* {
    margin: 0;
    padding: 0;
} 
body {
    min-height: 100vh;
    font-size: 2vw;
    font-family: 'Cabin', sans-serif;
}

#app {
  display: block;
  min-height: 100vh;
}

.section {
    text-align: center;
    width: 100%;
    min-height: 100vh;
    left: 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;  /* Avoid overlapping when heigh > 100vw */
}

.sectionTitle {
    font-size: 10vw;
    font-family: 'Amatic SC', cursive;
}

.subSectionTitle {
    font-size: 4vw;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 1%;
}

.welcomeText {
    color: #FFF;
    font-family: 'Amatic SC', cursive;
    font-size: 6vw;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.experienceRecord hr {
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 2%;
}

.experienceRecord:last-of-type hr {
    display: none;
}

.image-text, .large-text {
    display: block;
    float: left;
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.image-text img {
    vertical-align: middle;
    border-radius: 5%;
    max-width: 100%;
    max-height: 100%;
} 

.large-text {
    text-align: justify;
}

.ability {
    background-color: #eee;
}

.abilityRecord {
    overflow: hidden;
}

.skillsView {
    width: 33%;
    display: block;
    float: left;
    margin-bottom: 2%;
}

.skillDescription {
    color: #A9A9A9;
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 4vw;
    }

    .welcomeText {
        font-size: 10vw;
    } 

    .sectionTitle {
        font-size: 16vw;
    }

    .subSectionTitle {
        font-size: 6vw;
    }

    .image-text, .large-text {
        width: 94%;
    }

    .skillsView {
        width: 98%;
        margin-bottom: 5%;
    }

}

